<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>College Management System</title>
<link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
      crossorigin="anonymous">
</head>
<body>
   <h1>KIIT University</h1>
   <div class="container">
     <div class="row">
          <h3>List Of Students</h3>
      </div>
      <table class="table table-striped table-bordered">
         <thead class="table-dark">
            <tr>
               <th>Student Name</th>
               <th>Address</th>
               <th>Weight</th>
               <th>Action</th>
             </tr>
          </thead>
          
          <tbody >
              <tr th:each="student: ${students}">  
              
               <!-- this students comes from students in StudentController -->  
              
<!-- th is a thymeleap attribute which we can use to iterate over a list of attributes    -->


                 <td th:text="${student.name}"></td>
                 <td th:text="${student.address}"></td>
                 <td th:text="${student.weight}"></td>
                  <td> <a th:href="@{/college/details/students/edit/{id} (id=${student.id})}" 
                  class="btn btn-primary">Update</a>
				<a th:href="@{/college/details/students/delete/{id}(id=${student.id})}"
				 class="btn btn-primary">Delete</a></td>
                 
              </tr>
              </tbody>
      </table>
      
      </div>
      
         
      
           
   
   
   

</body>
</html>